body {
  margin: 0;
  /* background: transparent url(imgs/landing.png) no-repeat 50% 0%/cover; */
  font-family: 'Pixelmix';
  /* min-height: 100vh; */
  background: #000309;
  overflow: hidden;
}
  
.noMostrar{
  display: none;
}
.logoTema {
  width: 400px;
  position: absolute;
  bottom: 650px;
  left: calc(16% + 190px);
  transform: translateX(-50%);
  z-index: 2;
}
/* use flex to add space around the element and vertically center them */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  z-index: 99999;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
}

/*
  hides the menu that shows up on the screen when clicking on the hamburger menu.
  Styles for the menu to make it look nice.
*/

.responsive-nav {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transform: translateX(100%);
  transition: transform 0.5s ease;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

 /* styles to make the responsive menu look better   */


.liNav {
  font-style: italic;
  font-size: 40px;
  margin: 10px 0 20px 0;
}


.responsive-nav__open {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(imgs/MENU-WEB_REV2.png);
  transform: translateX(0);
}

/* give the hamburger menu styles  */

#menu-hamburger {
  fill: white;
  cursor: pointer;
  z-index: 1000;
}

/*  css to animate the responsive hamburger menu */

#menu-hamburger rect {
  transition: all 0.5s;
}

.animate .hamburger-menu__rect1 {
  transform: rotate(35deg) translate(2px, -2px);
}

.animate .hamburger-menu__rect3 {
  transform: rotate(-35deg) translate(-7px, -2px);
}

.animate .hamburger-menu__rect2 {
  opacity: 0;
}

.slider {    
  width: 500px;
  height: 90px;
  margin: auto;
  overflow: hidden;
  position: absolute;
  bottom: 567px;
  left: calc(16% + 190px);
  transform: translateX(-50%);
  z-index: 999;
}

.slider ul {
  display: flex;
  padding: 0;
  width: 800%;
  animation: cambio 20s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	10% {margin-left: 0;}
	
	12.5% {margin-left: -100%;}
	22.5% {margin-left: -100%;}
	
	25% {margin-left: -200%;}
	35% {margin-left: -200%;}
	
	37.5% {margin-left: -300%;}
  47.5% {margin-left: -300%;}

  50% {margin-left: -400%;}
  60% {margin-left: -400%;}

  62.5% {margin-left: -500%;}
  72.5% {margin-left: -500%;}

  75% {margin-left: -600%;}
  85% {margin-left: -600%;}

  87.5% {margin-left: -700%;}
  100% {margin-left: -700%;}
}


.instructionsMobile {
  display: none;
}

.LogosRedes {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  bottom: 10px;
  left: calc(8% + 190px);
  transform: translateX(100%);
  z-index: 999;
  width: 150px;
} 

.LogosRedes img{
    width: 35px;
    height: 35px;
}

.cont-general {
  position: relative;
  height: 100vh;
  width: 100%;
}

canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  background: transparent;
}
h4 {
  font-size: 1em !important;
}
#background {
  z-index: -2;
  background: #000;
}

#main {
  z-index: -1;
}

#ship {
  z-index: 0;
}

.score {
  position: absolute;
  top: 5px;
  left: 480px;
  color: #fff;
  cursor: default;
}

.game-over {
  position: absolute;
  top: 100px;
  left: 210px;
  color: #fff;  
  font-size: 30px;
  cursor: default;
  display: none;
}

.game-over span {
  font-size: 30px;
  cursor: pointer;
  position: relative;
}

.game-over span:hover {
  color: #FFD700;
}

.loading {
  top: 0;
  position: absolute;
  color: #fff;
  font-size: 35px;
  cursor: default;
  z-index: 9999;
  background: #000;
  width: 100%;
  height: 100%;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home, .login, .scores, .formulario, .instructions {
  display: none;
}
.home.active, .login.active, .scores.active, .formulario.active, .instructions.active {
  display: block;
}
.controlesPC {
  display: flex;
  justify-content: space-evenly;
  width: 460px;;
}
.reglas {
  line-height: 40px;
  padding: 0 15px;
  font-size: 23px;
}
.reglas .green {
  cursor: pointer;
}
.reglas ul{
  list-style: none;
  text-align: left;
}
.machine {
  height: 100vh;
  max-width: 550px;
  margin: auto;
  position: absolute;
  width: 550px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap-reverse;
}
.machine .img {
  width: 93%;
}
.logoFEP {
  display: none;
  background: url(imgs/logo-FEP.svg) no-repeat 50% 0/contain;
    position: absolute;
    width: 370px;
    height: 100px;
    bottom: 532px;
    z-index: 9999;
    left: 50%;
    transform: translateX(-50%);  
}
.logoFEP a{
  display: none;
    color: transparent;
    width: 100%;
    display: block;
    height: 60%;
}
.logoMocion{
  z-index: 999;
}

.logoMocion img{
  width: 200px;
  height: 44px;
}

.canvas-cont {
  position: absolute;
  top: 188px;
  left: 50%;
  z-index: 10;
  transform: translateX(-50%) scale(.625) perspective(495px) rotateX(8deg);
  display: block;
  transform-origin: top center;
  background: #000;
  border-radius: 3%;
  width: 600px;
  height: 450px;
  padding: 2rem 0;
  box-sizing: border-box;
}
.canvas-cont>* {
  margin: auto;
  transform: translateX(-50%);
  left: 50%;
  text-align: center;
}
.canvas-cont> canvas {
  border-radius: 2%;
}
.scores:not(.gameover){
  top: 0;
}

.scores {
  position: absolute;
  color: #fff;
  background: black;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 0 2rem;
  box-sizing: border-box;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 2rem;
  font-size: 20px;
}

.green {
  color: #06FF00 !important;
  -webkit-tap-highlight-color: #06FF00 !important;
}

.c-pointer {
  margin: 15px;
}

.c-pointer, .mouse-action {
  cursor: pointer;
}
.scores table {
  width: 100%;
}
.scores th, .scores td{
  padding: .5rem;
  width: 50%;
}
.scores table th:nth-child(1), .scores table td:nth-child(1) {
  min-width: 3rem;
  text-align: left;
  width: initial;
  padding-left: 0;
  padding-right: 0;
}
.scores table th:nth-child(3), .scores table td:nth-child(3) {
  text-align: right;
}
.scores table th:nth-child(2), .scores table td:nth-child(2) {
  text-align: left;
}

::placeholder{
  color: #fff;
}
form.userForm {
    max-width: 300px;
    margin: auto;
}
form.userForm input{
  font-family: Pixelmix;
  color: #fff;
  width: 100%;
  background: none;
  border-style: solid;
  border-color: #fff;
  padding: 4px 2px 9px;
  box-sizing: border-box;
  text-align: center;
  font-size: 20x;
}
form.userForm input[type="submit"] {
  font-size: 40px;
  margin-top: 1rem;
  cursor: pointer;
}
input.green {
  border-color: transparent !important;
  font-size: 0.67em ;
}
.arcade {
  position: absolute;
  top: 0;
  width: 550px;
  height: 79%;
  background: transparent;
  margin: auto;
  left: 54%;
  transform: translateX(-50%);
}
.buttons {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100vh;
  max-width: 550px;
  width: 550px;    
  z-index: 3;
}
.joystick {
  background: transparent url(imgs/joystockC.png) no-repeat 0/100%;
  width: 142px;
  height: 142px;
  position: absolute;
  bottom: 10vh;
  left: -10px;
  max-width: 190px;
  z-index: 222;
}
.joystick.left {
  background: transparent url(imgs/joystockL.png) no-repeat 0/100%;
}
.joystick.right {
  background: transparent url(imgs/joystockR.png) no-repeat 0/100%;
}

.button_action{
  display: none;
  width: 142px;
  height: 142px;
  position: absolute;
  bottom: 7vh;
  left: 30px;
  max-width: 190px;
  z-index: 222;
}

.button_machine {
  background: transparent url(imgs/btn-arriba.png) no-repeat 0/100%;
  width: 142px;
  height: 142px;
  position: absolute;
  bottom: 10vh;
  right: 105px;
  max-width: 115px;
}
.button_machine.abajo {
  background: transparent url(imgs/btn-abajo.png) no-repeat 0/100%;
}

.instructions {
  width: 75%;
  margin: 0 auto;
}
.instructions .spacebar .image{
  width: 180px;
  height: 25px;
  border-radius: 6px;
  background: #fff;
  margin: 0 auto 1rem;
}
.instructions .spacebar .text{
  font-size: .95rem;
}
.instructions .arrow .text {
  font-size: .95rem;
  line-height: 1.5;
}
.instructions .arrow .key {
  font-size: 3rem;
}
.instructions .arrow {
  display: inline-flex;
}
.instructions .text {
  font-size: 1rem;
  line-height: 1.5;
}
/*
.fb-share-button:before{
    content: "Compartir";
    background-image: url(imgs/share1.svg);
    color: #fff;
    text-decoration: none;
    width: 20px;
    height: 20px;
    background-size: contain;
    display: inline-block;
    padding-left: 30px;
    background-repeat: no-repeat;
}
.fb-share-button iframe{
  visibility: hidden;
}s
*/
.fb-share-button{
    position: absolute !important;
    right: 30px;
    top: 30px;  
}
.audio {
    background-image: url(imgs/sound1-on.svg);
    width: 20px;
    height: 20px;
    background-size: contain;
    display: inline-block;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 9999;
    transform: translate(-50%, 50%);
    position: absolute;
    left: 50px;
    bottom: 62px;
}
.audio.active{
    background-image: url(imgs/sound1-off.svg);
}
.text-navidad{
  display: none;
    position: absolute;
    left: -60%;
    bottom: 20px;
}
.text-navidad img{
  display: none;
    width: 100%;
    max-width: 360px;
}

.terminos{
  margin: 0;
}
.terminos a {
  color: #fff;
  font-size: 18px;
}
.imgmobile{
  display: none;
}
@media(max-width:768px){
  .instructions .text {
    font-size: 20px;
  }
  .left {
    margin: 0 10px;
  }
  .right {

  }
  /* body {
    background: transparent url(imgs/MENU-MOBIL-sin-texto.png) no-repeat 50% 0%/cover;
  } */
  .responsive-nav__open {
    background-image: url(imgs/MENU-MOBIL.png);
    transform: translateX(0);
  }
  .liNav {
    font-style: italic;
    font-size: 20px;
  }
  .logoTema {
    width: 200px;
    bottom: 460px;
    left: calc(-2% + 190px);
  }
  .slider {
    width: 351px;
    height: 82px;
    bottom: 377px;
    left: calc(-3% + 190px);
  }
  .reglas {
    line-height: 30px;
    padding: 0 15px;
    font-size: 30px;
  }
  .instructions .spacebar .image{
    width: 180px;
    height: 100px;
    border-radius: none;
    background: transparent url(imgs/btn-abajo.png) no-repeat 0/100%;
    margin: auto;
  }
  .instructions .arrowMobile {
    display: flex;
    justify-content: space-around;
    width: 200px;
  }
  .loading {
    font-size: 37px;
  }
  .instructionsMobile {
    display: block;
  }
  .instructionsPC {
    display: none;
  }
  .instructions .spacebar .image {
    width: 80px;
    height: 80px;
  }
  .controlesMobile {
    display: flex;
    justify-content: space-evenly;
    width: 499px;
  }
  .LogosRedes {
    left: calc(-35% + 190px);
  } 
  .LogosRedes img{
    width:25px;
    height:25px;
  }  
  .logoMocion img{
    width: 50px;
    height: 15px;
  }

  .logoMocion{
    z-index: 999;
  }

  .audio {
    left: 35px;
    bottom: -70px;
    height: 200px;
  }
  #background {
  z-index: none;
  } 
  .scores:not(.gameover) {
    top: -21px;
  }
  .scores {
    width: 100%;
    font-size: 25px;
  }
  .canvas-cont {
    top: -125px;
    left: 50%;
    transform: translateX(-50%) scale(.5) perspective(345px) rotateX(8deg);
    width: 590px;
    height: 480px;
    padding: 15rem;
    transform-origin: bottom;
  }
  .buttons {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100vh;
    max-width: 360px;
    width: 360px;    
    z-index: 3;
  }
  .joystick {
    display: none;
  }
  .button_right{
    left: 80px;
    background: transparent url(imgs/botonB.png) no-repeat 0/100%;
  }
  .button_left{
    background: transparent url(imgs/buttonA.png) no-repeat 0/100%;
  }
  .button_action {
      display: block;
      width: 50px;
      height: 80px;
      bottom: 190px;
  } 
  .button_machine {
    background: transparent url(imgs/btn-arriba.png) no-repeat 0/100%;
    width: 70px;
    height: 95px;
    bottom: 184px;
    right: 50px;
  }
  .machine {
    height: 100%;
    max-width: 400px;
    width: 380px;
  }

  .machine .img {
    width: 96%;
  }

  .arcade {
    width: 360px;
  }
  .logoFEP, .text-navidad {
    display: none;
  }

  #buttonA {
    left: 15px;
  }

  #buttonB {
    left: 85px;
  }
}

@media screen and (device-aspect-ratio: 40/71) {
  .machine .img {
      width: 81%;
    }

  .loading {
    font-size: 34px;
  }

  .canvas-cont {
    top: -166px;
    left: 50%;
    transform: translateX(-50%) scale(.5) perspective(345px) rotateX(8deg);
    width: 590px;
    height: 480px;
    padding: 15rem;
    transform-origin: bottom;
  }

  .button_machine {
    background: transparent url(imgs/btn-arriba.png) no-repeat 0/100%;
    width: 60px;
    height: 95px;
    bottom: 55px;
    right: 60px;
  }

  .button_action {
    display: block;
    width: 50px;
    height: 80px;
    bottom: 62px;
  }

  #buttonA{
    left: 38px;
  }

  #buttonB{
    left: 110px;
  }
}

@media screen and (device-aspect-ratio: 375/667) {
  .button_action {
    display: block;
    width: 50px;
    height: 80px;
    bottom: 78px;
  }

  .button_machine {
    background: transparent url(imgs/btn-arriba.png) no-repeat 0/100%;
    width: 70px;
    height: 95px;
    bottom: 69px;
    right: 50px;
  }
}

@media screen and (max-width: 680px) {
  .button_action {
    display: block;
    width: 50px;
    height: 80px;
    bottom: 73px;
  }

  .button_machine {
    background: transparent url(imgs/btn-arriba.png) no-repeat 0/100%;
    width: 70px;
    height: 95px;
    bottom: 60px;
    right: 50px;
  }

  .scores:not(.gameover){
    top: -64px;
  }

  .scores {
    width: 100%;
    font-size: 24px;
  }
}

.fb-share-button span {
  height: 30px !important;
  width: 100px !important;
  color: greenyellow;
}

.fb-share-button span iframe {
  height: 100% !important;
  width: 100% !important;
}